@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;700&display=swap');


body {
  font-family: 'Baloo Chettan 2', cursive;
  color: var(--fonte-primaria);
  background-color: var(--cor-primaria);
}

.Titulos {
  margin-left: 7%;
}

html, body, .container-fluid {
  height: 100%;
}

.row {
  height: 33.33%;
}

.row > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.preco {
  padding-right: 5px;
}

.change::before {
  content: '(';
}

.change::after {
  content: ')';
}

.preco::before {
  content: '$';
}

.change:empty, .preco:empty {
  display: none;
}

.petroleo, .petroleo small {
    background-color: black;
    color: white;
    margin-top: 0px;
    
}
.ouro, .ouro small {
  background-color: gold;
  color: #000000;

}

.prata, .prata small {
  background-color: silver;
  color: #000000;
}
